<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EdBuddy</title>
    <link rel="stylesheet" href="{% static 'styles-1.css' %}">
</head>
<body>
    <header>
        <h1>EdBuddy</h1>
        <p>Your Buddy for Learning and Growth</p>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <div>
            <p>Connect with us</p>
            <input type="email" placeholder="Enter your email">
            <button>Subscribe</button>
        </div>
        <div>
            <p>&copy; 2024 EdBuddy. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>
