{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}default{% endblock %}</title>
    
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="bg-gray-50 font-serif leading-normal tracking-normal">
    <nav class="bg-gray-800 text-white py-4 px-6">
        <a class="font-bold">Infosys Springboard</a>
        
            <a href="{% url 'home' %}" class="font-bold">
                <button type="button" class="bg-black-500 text-white px-6 py-2 rounded hover:bg-blue-600">
                    Home
                </button>
        
            </a>
    </nav>

    {% block content %}{% endblock %}

</body>
</html>
